	<nav class="breadcrumb" style="margin-top: -22px;"><i class="Hui-iconfont"></i> <a href="{:url($current)}" class="maincolor">系统信息</a>
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<p class="f-20 text-success">{$admin['user_name']},欢迎使用后台管理</p>
			<table class="table table-border table-bordered table-bg mt-20">
				<thead>
				<tr>
					<th colspan="2" scope="col">服务器信息</th>
				</tr>
				</thead>
				<tbody>
					{foreach $info as $row}
						<tr>
							<td>{$row['key']}</td>
							<td>{$row['value']}</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
		</article>