<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{$title}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/index/css/base.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/common.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/{$controller}.css" />
    <script type="text/javascript" src="__STATIC__/index/js/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/respond.min.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/artDialog/dialog.js"></script>
    <script type="text/javascript" src="__STATIC__/common/js/common.js"></script>
</head>
<body>
<div class="header-bar">
    <div class="header-inner">
        <ul class="father">
            <li><a href="{:url('cart/index')}" target="_blank" >购物车</a></li>
            <li>|</li>
            <li><a href="{:url('order/order')}" target="_blank" >我的订单</a></li>
            {if $login}
                <li><a href="{:url('User/outLogin')}">退出登录</a></li>
                <li>|</li>
                <li style="color: #666666">欢迎您 {$login}</li>
            {else /}
                <li><a href="{:url('User/register')}">注册</a></li>
                <li>|</li>
                <li><a href="{:url('User/login')}">登录</a></li>
            {/if}
        </ul>
    </div>
</div>